body {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 10%, #F7CE68 100%);  
    background-color: #e5e1ea;
  }
  
  h1 {
  text-align: center;
  font-family: 'Satisfy', cursive, Arial, Helvetica, sans-serif;
  margin-top: 70px;
  font-size: 55px;
  color: #fff;
  }
  
  .p-header{
      text-align: center;
      font-family: 'Inter', sans-serif;
      font-weight: 700;
      font-size: 16px;
      position: relative; 
      top: -20px;
  }
  
  .p-header-text:hover {
      background-color: rgba(0,0,0,.3);
      font-size: 18px;
      color: white;
      border-radius: 20px;
      padding: 7px;
  }
  
   
  main {
      margin-bottom: 480px;
  } 
  
  .table-1 {
  border-collapse: collapse;
  margin: 2em auto;
  border: 3px solid floralwhite;
  font-size: 1.1em;
  min-width: 500px;
  box-shadow: 0 0 20px rgba(0,0,0,.4);
  }
  
  .table-1 thead th {
      font-family: 'Inter', sans-serif;
      font-weight: 700;
      font-variant: small-caps; 
      text-align: justify;
  }
  
  th:hover {
      color: floralwhite;
  }
  
  
  .table-1 th, .table-1 td {
      padding: 12px 15px;
      border: 1px solid floralwhite;
  }
  
  
  .table-1 tbody tr:nth-of-type(even){
      background-color: rgba(255,250,240,.50);
  }
  
  .mono {
      font-family: 'Space Mono', monospace;
      font-weight: bold;
      background-color: lightgrey;
      border-radius: 4px;
  }
  
  td {
      padding: 50px;
  }
  
  td, th {
      max-width: 200px;
  }
  
  body {
      margin: 0;
  }
  
  thead {
      position: sticky;
      top: -3px;
      left: 0;
  }
  
  th {
      background-color: #FBAB7E;
      background-image: linear-gradient(62deg, #FBAB7E 10%, #F7CE68 100%);  
      background-color: #e5e1ea;
  }